.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:burlywood;
    padding: 0 20px;
    
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a, li{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bold;

}
.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}